section.contact
    .container.contact__content
        a(href="tel:+998711234567", title="").contact__link
            span.icon-phone
            span.contact__text +998 (71) 123-45-67
        p.contact__desc
            span.contact__item Работаем 7 дней в неделю
            span.contact__item 9:00 — 18:00
        a(href="", title="").contact__link
            span.icon-enter
            span.contact__text Войти / Регистрация